*.swp
Makefile
Makefile.in
aclocal.m4
*.cache
compile
depcomp
install-sh
missing
.deps
src/hitest
*.o
stamp-*
libtool
ar-lib
ltmain.sh
m4/lt*.m4
m4/libtool.m4
config.*
configure
src/.libs
*.la
*.lo
.dirstamp
